*{
	margin: 0;
	padding: 0;
}

body {
	font-weight: 400;
	font-size: 1em;
	font-family: 'Quicksand', sans-serif;
}

nav{
	background-color: transparent;
	box-shadow: none;
	.row-nav{
		padding: 0 30px;
	}
	.brand-logo{
		font-size: 18px;
	}
	.nav-wrapper{
		background-color: $fondo_oscuro;
		opacity: 0;
		#menu-icono{
			cursor: pointer;
			&:hover{
				color: #D9B2B3;
			}
		}
	}
	.nav-wrapper li a{
		font-size: 1.1rem;
		pointer: cursor;
		color: $fondo_blanco;
	}
}

/*entering Nav*/
.entering-nav{
	position: fixed;
	top: 0px;
	bottom: 0px;
	//opacity: 0;
	display: none;
	width: 100%;
	height: 100%;
	z-index: 9999;
	//display: table;
	background: $fondo_oscuro;
	transition: background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
	padding: 15% 0;
	img{
		width: 10%;
		position: absolute;
		left: 0;
		top: 0;
	}
	.equis{
		position: absolute;
		right: 30px;
		top: 20px;
		color: $fondo_blanco;
		cursor: pointer;
		&:hover{
			color: #D9B2B3;
		}
	}
	li{
		a{
			font-size: 2.5rem;
			padding: .4em 0.6em;
			color: $fondo_blanco;
			text-decoration: none;
			&:hover{
				color: #D9B2B3;
				text-decoration: underline;
			}
		}
	}
}

.header{
	/*background-color: #BFB5AA;*/
	background-image: url(../img/portafolio-1.jpg);
	padding-top: 90px;
	margin-top: -64px;
	height: 100vh;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	.square{
		width: 800px;
		height: 600px;
		border: 1px solid #fff;
		margin: 0 auto;
		z-index: 1000;
	}
	.logo-bere{
		height: 18%;
		position: fixed;
		top: 25%;
  		left: 25%;
  		transform: translate3d(-20%, -25%, 0);
  		z-index: 5000;
	}
	.front{
		float: left;
		margin-top: 350px;
		width: 50%;
	}
	#triangle {
		width: 0;
		height: 0;
		border-bottom: 0 solid transparent;
		position: absolute;
		
	}
	.triangle-left{
		border-top: 584px solid transparent;
		border-left: 584px solid rgba(0,131,126, 0.3);
		top: 70px;
		left: 0;
	}
	.rotado-right{
		border-top: 656px solid transparent;
		border-left: 656px solid rgba(0,131,126, 0.3);
		-moz-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		right: 0;
		top: 0;
	}
}

.phrase{
	padding: 9%;
}

.about{
	background-color: $fondo_azul;
	.row{
		margin: 0;
		.about-text{
			padding: 10% 5% 5% 5%;
			margin: 0;
		}
		.about-title{
			margin: 0;
			padding: 0;
			img{
				margin-bottom: -6px;
			}
		}
	}
	p{
		font-size: 1.5rem;
		font-family: 'Quicksand', sans-serif;
		//font-family: 'Julius Sans One', sans-serif;
		span{
			font-size: 1.8rem;
			font-weight: bold;
		}
	}
	
}

.skills{
	background-color: $fondo_rojo;
	.row{
		margin: 0;
	}
	.skills-img{
		padding: 0;
		img{
			margin-bottom: -6px;
		}
	}
	.iconos-skills{
		padding: 1.5%;
		div{
			padding: 2%;
			img{
				max-height: 67px;
			}
			h5{
				font-size: 1.2rem;
			}
			&:hover{
				background-color: $fondo_rojo;
				color: #fff;
				cursor: pointer;
			}
		}
	}
	h1{
		padding-top: 50px;
	}
	i{
		font-size: 5rem;
		color: white;
	}
	
}

#skills{
	p{
		margin: 3% 0%;
	}
}

/* Individual styles */
.portfolio {
	background-color: $fondo_blanco;
	padding: 50px 0;
	h1{
		margin-bottom: 4.68rem;
	}
	.portfolio-item{
		padding: 0;
		position: relative;
		img{

		}
		.portfolio-item-hover{
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 100;
			opacity: 0;
			padding-top: 17%;
			&:hover{
				opacity: 1;
			}
			.titulo_hover{
				h3{
					margin-bottom: 0.170rem;
				}
				p{
					margin-bottom: 1.168rem;
				}
			}
			.botones_section{
				.botones{
					.btn_demo{
						display: inline-block;
						text-decoration: none;
						color: white;
						font-weight: bold;
						border: 1px solid white;
						padding: 10px 30px;
						&:hover{
							background-color: white;
							color: $azul_hover;
						}
					}
					.rojo{
						&:hover{
							background-color: white;
							color: $rojo_hover;
						}
					}
				}
				.iconos_empleados{
					display: inline-block;
					i{
						font-size: 2rem;
					}
					img{
						width: 11%;
					}
				}
			}
		}
		.impar{
			background-color: $azul_hover;
		}
		.par{
			background-color: $rojo_hover;
		}
	}
}

.contact{
	padding: 130px 20px;
	background-color: $fondo_rojo;
	h6{
		margin: .5rem 0 1.6rem 0;
		font-size: 1.5rem;
		margin-bottom: 2.6rem;
	}
	a{
		text-decoration: none;
		color: black;
		margin: 0 20px;
		&:hover{
			color: $rojo_hover;
		}
	}
}

.pie{
	background-color: $fondo_oscuro;
	color: #fff;
	padding: 15px 0;
}


/*********/

.triangle {
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 50px solid #fff;
	z-index: 3000;
	margin: 0 auto;
	position: relative;
	margin-top: -50px;
}

.triangle-skills{
	margin-top: -150px;
}

.mt-50{
	margin-top: 60px;
}

.mas-cajas{
	display: none;
}

.aparecer{
	display: inherit;
}

.desaparecer{
	display: none;
}