@media (min-width: 1px) and (max-width:425px){
	.header{
		background-position: center;
		background-image: url(../img/portafolio_mobile.jpg);
		.square{
			width: 278px;
			height: 476px;
			border: 1px solid transparent;
		}
	}

	.entering-nav{
		padding: 45% 0;
		img{
			width: 30%;
			position: relative;
			left: 5;
			top: 5;
		}
	}

	.phrase{
		h1{
			font-size: 2.5rem;
		}
	}

	.about{
		.row{
			.about-text{
				padding: 12% 10%;
			}
		}
		p{
			font-size: 1.4rem;
			span{
				font-size: 1.7rem;
			}
		}
	}

	.portfolio{
		h1{
			font-size: 2.5rem;
		}
	}

	.contact{
		h1{
			font-size: 2.5rem;
		}
	}
}

//Smallest phone view
@media (min-width: 1px) and (max-width:320px){
	.header{
		background-position: center;
		background-image: url(../img/portafolio_mobile.jpg);
		.square{
			width: 278px;
			height: 476px;
		}
	}
	.skills{
		.iconos-skills{
			padding: 5%;
			div{
				img{
					padding: 12px 0 6px;
				}
			}
			div:nth-child(even){

			}
		}
	}
}

@media (min-width: 321px) and (max-width:375px){
	.skills{
		.iconos-skills{
			padding: 5%;
			div{
				img{
					padding-top: 9px;
				}
			}
		}
	}
}

@media (min-width: 376px) and (max-width:425px){
	.skills{
		.iconos-skills{
			padding: 5%;
			div{
				img{
					padding-top: 1.5px;
				}
			}
		}
	}
}

//Only tablet
@media (min-width: 426px) and (max-width:768px){
	.header{
		.square{
			width: 676px;
			height: 600px;
		}
	}
	.about{
		.row{
			.about-text{
				padding: 8% 5% 5% 5%;
			}
		}
		p{
			font-size: 1.1rem;
			span{
				font-size: 1.4rem;
			}
		}
	}

	.skills{
		.iconos-skills{
			padding: 2.7%;
			/*div:nth-child(even) {
				padding: 2%;
				background-color: $fondo_azul;
			}*/
		}

	}
}