* {
  margin: 0;
  padding: 0; }

body {
  font-weight: 400;
  font-size: 1em;
  font-family: 'Quicksand', sans-serif; }

nav {
  background-color: transparent;
  box-shadow: none; }
  nav .row-nav {
    padding: 0 30px; }
  nav .brand-logo {
    font-size: 18px; }
  nav .nav-wrapper {
    background-color: #0C4D4F;
    opacity: 0; }
    nav .nav-wrapper #menu-icono {
      cursor: pointer; }
      nav .nav-wrapper #menu-icono:hover {
        color: #D9B2B3; }
  nav .nav-wrapper li a {
    font-size: 1.1rem;
    pointer: cursor;
    color: #fff; }

/*entering Nav*/
.entering-nav {
  position: fixed;
  top: 0px;
  bottom: 0px;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #0C4D4F;
  transition: background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
  padding: 15% 0; }
  .entering-nav img {
    width: 10%;
    position: absolute;
    left: 0;
    top: 0; }
  .entering-nav .equis {
    position: absolute;
    right: 30px;
    top: 20px;
    color: #fff;
    cursor: pointer; }
    .entering-nav .equis:hover {
      color: #D9B2B3; }
  .entering-nav li a {
    font-size: 2.5rem;
    padding: .4em 0.6em;
    color: #fff;
    text-decoration: none; }
    .entering-nav li a:hover {
      color: #D9B2B3;
      text-decoration: underline; }

.header {
  /*background-color: #BFB5AA;*/
  background-image: url(../img/portafolio-1.jpg);
  padding-top: 90px;
  margin-top: -64px;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .header .square {
    width: 800px;
    height: 600px;
    border: 1px solid #fff;
    margin: 0 auto;
    z-index: 1000; }
  .header .logo-bere {
    height: 18%;
    position: fixed;
    top: 25%;
    left: 25%;
    transform: translate3d(-20%, -25%, 0);
    z-index: 5000; }
  .header .front {
    float: left;
    margin-top: 350px;
    width: 50%; }
  .header #triangle {
    width: 0;
    height: 0;
    border-bottom: 0 solid transparent;
    position: absolute; }
  .header .triangle-left {
    border-top: 584px solid transparent;
    border-left: 584px solid rgba(0, 131, 126, 0.3);
    top: 70px;
    left: 0; }
  .header .rotado-right {
    border-top: 656px solid transparent;
    border-left: 656px solid rgba(0, 131, 126, 0.3);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    right: 0;
    top: 0; }

.phrase {
  padding: 9%; }

.about {
  background-color: rgba(0, 131, 126, 0.4); }
  .about .row {
    margin: 0; }
    .about .row .about-text {
      padding: 10% 5% 5% 5%;
      margin: 0; }
    .about .row .about-title {
      margin: 0;
      padding: 0; }
      .about .row .about-title img {
        margin-bottom: -6px; }
  .about p {
    font-size: 1.5rem;
    font-family: 'Quicksand', sans-serif; }
    .about p span {
      font-size: 1.8rem;
      font-weight: bold; }

.skills {
  background-color: rgba(131, 0, 5, 0.3); }
  .skills .row {
    margin: 0; }
  .skills .skills-img {
    padding: 0; }
    .skills .skills-img img {
      margin-bottom: -6px; }
  .skills .iconos-skills {
    padding: 1.5%; }
    .skills .iconos-skills div {
      padding: 2%; }
      .skills .iconos-skills div img {
        max-height: 67px; }
      .skills .iconos-skills div h5 {
        font-size: 1.2rem; }
      .skills .iconos-skills div:hover {
        background-color: rgba(131, 0, 5, 0.3);
        color: #fff;
        cursor: pointer; }
  .skills h1 {
    padding-top: 50px; }
  .skills i {
    font-size: 5rem;
    color: white; }

#skills p {
  margin: 3% 0%; }

/* Individual styles */
.portfolio {
  background-color: #fff;
  padding: 50px 0; }
  .portfolio h1 {
    margin-bottom: 4.68rem; }
  .portfolio .portfolio-item {
    padding: 0;
    position: relative; }
    .portfolio .portfolio-item .portfolio-item-hover {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 100;
      opacity: 0;
      padding-top: 17%; }
      .portfolio .portfolio-item .portfolio-item-hover:hover {
        opacity: 1; }
      .portfolio .portfolio-item .portfolio-item-hover .titulo_hover h3 {
        margin-bottom: 0.170rem; }
      .portfolio .portfolio-item .portfolio-item-hover .titulo_hover p {
        margin-bottom: 1.168rem; }
      .portfolio .portfolio-item .portfolio-item-hover .botones_section .botones .btn_demo {
        display: inline-block;
        text-decoration: none;
        color: white;
        font-weight: bold;
        border: 1px solid white;
        padding: 10px 30px; }
        .portfolio .portfolio-item .portfolio-item-hover .botones_section .botones .btn_demo:hover {
          background-color: white;
          color: rgba(12, 77, 79, 0.9); }
      .portfolio .portfolio-item .portfolio-item-hover .botones_section .botones .rojo:hover {
        background-color: white;
        color: rgba(79, 14, 12, 0.9); }
      .portfolio .portfolio-item .portfolio-item-hover .botones_section .iconos_empleados {
        display: inline-block; }
        .portfolio .portfolio-item .portfolio-item-hover .botones_section .iconos_empleados i {
          font-size: 2rem; }
        .portfolio .portfolio-item .portfolio-item-hover .botones_section .iconos_empleados img {
          width: 11%; }
    .portfolio .portfolio-item .impar {
      background-color: rgba(12, 77, 79, 0.9); }
    .portfolio .portfolio-item .par {
      background-color: rgba(79, 14, 12, 0.9); }

.contact {
  padding: 130px 20px;
  background-color: rgba(131, 0, 5, 0.3); }
  .contact h6 {
    margin: .5rem 0 1.6rem 0;
    font-size: 1.5rem;
    margin-bottom: 2.6rem; }
  .contact a {
    text-decoration: none;
    color: black;
    margin: 0 20px; }
    .contact a:hover {
      color: rgba(79, 14, 12, 0.9); }

.pie {
  background-color: #0C4D4F;
  color: #fff;
  padding: 15px 0; }

/*********/
.triangle {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 50px solid #fff;
  z-index: 3000;
  margin: 0 auto;
  position: relative;
  margin-top: -50px; }

.triangle-skills {
  margin-top: -150px; }

.mt-50 {
  margin-top: 60px; }

.mas-cajas {
  display: none; }

.aparecer {
  display: inherit; }

.desaparecer {
  display: none; }

@media (min-width: 1px) and (max-width: 425px) {
  .header {
    background-position: center;
    background-image: url(../img/portafolio_mobile.jpg); }
    .header .square {
      width: 278px;
      height: 476px;
      border: 1px solid transparent; }

  .entering-nav {
    padding: 45% 0; }
    .entering-nav img {
      width: 30%;
      position: relative;
      left: 5;
      top: 5; }

  .phrase h1 {
    font-size: 2.5rem; }

  .about .row .about-text {
    padding: 12% 10%; }
  .about p {
    font-size: 1.4rem; }
    .about p span {
      font-size: 1.7rem; }

  .portfolio h1 {
    font-size: 2.5rem; }

  .contact h1 {
    font-size: 2.5rem; } }
@media (min-width: 1px) and (max-width: 320px) {
  .header {
    background-position: center;
    background-image: url(../img/portafolio_mobile.jpg); }
    .header .square {
      width: 278px;
      height: 476px; }

  .skills .iconos-skills {
    padding: 5%; }
    .skills .iconos-skills div img {
      padding: 12px 0 6px; } }
@media (min-width: 321px) and (max-width: 375px) {
  .skills .iconos-skills {
    padding: 5%; }
    .skills .iconos-skills div img {
      padding-top: 9px; } }
@media (min-width: 376px) and (max-width: 425px) {
  .skills .iconos-skills {
    padding: 5%; }
    .skills .iconos-skills div img {
      padding-top: 1.5px; } }
@media (min-width: 426px) and (max-width: 768px) {
  .header .square {
    width: 676px;
    height: 600px; }

  .about .row .about-text {
    padding: 8% 5% 5% 5%; }
  .about p {
    font-size: 1.1rem; }
    .about p span {
      font-size: 1.4rem; }

  .skills .iconos-skills {
    padding: 2.7%;
    /*div:nth-child(even) {
    	padding: 2%;
    	background-color: $fondo_azul;
    }*/ } }

/*# sourceMappingURL=main.css.map */
