* {
  margin: 0;
  padding: 0; }

body {
  font-weight: 400;
  font-size: 1em;
  font-family: 'Quicksand', sans-serif; }

nav {
  background-color: transparent;
  box-shadow: none; }
  nav .row-nav {
    padding: 0 30px; }
  nav .brand-logo {
    font-size: 18px; }
  nav .nav-wrapper li a {
    font-size: 12px;
    color: black; }

.header {
  /*background-color: #BFB5AA;*/
  background: url(../img/portafolio-1.jpg) 50% 50%/100% no-repeat fixed;
  background: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 150px;
  margin-top: -64px; }
  .header .square {
    width: 800px;
    height: 600px;
    border: 5px solid #fff;
    margin: 0 auto;
    z-index: 1000; }
  .header .logo-bere {
    height: 18%;
    position: fixed;
    top: 25%;
    left: 25%;
    transform: translate3d(-20%, -25%, 0);
    z-index: 9999; }
  .header .front {
    float: right;
    margin-top: 350px;
    width: 50%; }
  .header #triangle {
    width: 0;
    height: 0;
    border-bottom: 0 solid transparent;
    position: absolute; }
  .header .triangle-left {
    border-top: 584px solid transparent;
    border-left: 584px solid rgba(0, 131, 126, 0.5);
    top: 70px;
    left: 0; }
  .header .rotado-right {
    border-top: 656px solid transparent;
    border-left: 656px solid rgba(0, 131, 126, 0.5);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    right: 0;
    top: 0; }

.about {
  background-color: rgba(0, 131, 126, 0.4);
  padding: 120px 0; }
  .about img {
    margin-top: -40px;
    z-index: 9999;
    width: 40%; }
  .about p {
    font-size: 25px;
    font-family: 'Quicksand', sans-serif; }
  .about span {
    font-size: 30px;
    font-weight: bold; }

.contact {
  padding: 170px 0; }
  .contact h1 {
    margin-top: 100px; }

.skills {
  padding: 150px 0;
  background-color: rgba(131, 0, 5, 0.4); }
  .skills h1 {
    padding-top: 50px; }
  .skills i {
    font-size: 70px;
    margin: 10px; }

.triangle {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 50px solid #fff;
  z-index: 3000;
  margin: 0 auto;
  position: relative;
  margin-top: -50px; }

.amarillo {
  border-top: 50px solid rgba(131, 0, 5, 0.4);
  margin-top: -170px; }

.about-triangle {
  margin-top: -120px; }

.triangle-skills {
  margin-top: -150px; }

.mt-50 {
  margin-top: 60px; }

.mas-cajas {
  display: none; }

.aparecer {
  display: inherit; }

.desaparecer {
  display: none; }

.pie {
  background-color: #87888C;
  color: #fff;
  padding: 15px 0; }

/* Demos.css*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a, button {
  outline: none; }

a {
  color: #f0f0f0;
  text-decoration: none;
  cursor: pointer; }

i {
  cursor: pointer; }

a:hover, a:focus {
  color: #333; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.codrops-header {
  margin: 0 auto;
  padding: 2em;
  text-align: center; }
  .codrops-header h1 {
    margin: 0;
    font-weight: 300;
    font-size: 2.5em;
    line-height: 1.3; }

/* Demo Buttons Style */
.codrops-demos {
  padding-top: 1em;
  font-size: 0.8em; }
  .codrops-demos a {
    display: inline-block;
    margin: 0.5em;
    padding: 0.7em 1.1em;
    outline: none;
    border: 2px solid #333;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700; }
  .codrops-demos:hover {
    border-color: #fff;
    color: #fff; }

/* component.css */
/* Common style */
.grid {
  margin: 40px auto 0;
  max-width: 999px;
  width: 90%; }
  .grid a {
    float: left;
    max-width: 333px;
    width: 33.333333%;
    color: #333; }
  .grid .arriba {
    margin: 30px 0 -30px 0; }
  .grid figure {
    position: relative;
    overflow: hidden;
    margin: 5px;
    background: #333; }
    .grid figure img {
      position: relative;
      display: block;
      width: 100%;
      opacity: 0.7;
      -webkit-transition: opacity 0.3s;
      transition: opacity 0.3s; }
    .grid figure button {
      position: absolute;
      padding: 4px 20px;
      border: none;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
      -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
      transition: opacity 0.3s, transform 0.3s; }
  .grid figcaption {
    position: absolute;
    top: 0;
    z-index: 11;
    padding: 14px;
    width: 100%;
    height: 100%;
    text-align: center; }
    .grid figcaption h2 {
      margin: 0 0 20px 0;
      color: #F4D131;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
      font-size: 120%;
      -webkit-transition: -webkit-transform 0.3s;
      transition: transform 0.3s; }
    .grid figcaption p {
      padding: 0 20px;
      color: #434446;
      font-weight: 300;
      -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
      transition: opacity 0.3s, transform 0.3s; }

.grid figcaption h2,
.grid figcaption p {
  -webkit-transform: translateY(25px);
  transform: translateY(25px); }

.grid figcaption,
.grid figcaption h2,
.grid figcaption p,
.grid figure button {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

/* Style for SVG */
.grid svg {
  position: absolute;
  top: -1px;
  /* fixes rendering issue in FF */
  z-index: 10;
  width: 100%;
  height: 100%; }

.grid svg path {
  fill: #fff; }

/* Hover effects */
.grid a:hover figure img {
  opacity: 1; }

.grid a:hover figcaption h2,
.grid a:hover figcaption p {
  -webkit-transform: translateY(0);
  transform: translateY(0); }

.grid a:hover figcaption p {
  opacity: 0; }

/* Individual styles */
.portfolio {
  background-color: rgba(0, 131, 126, 0.4);
  padding: 50px 0; }

.portfolio .grid figure button {
  top: 40%;
  left: 50%;
  border: 3px solid #fff;
  background: #87888C;
  color: #fff;
  opacity: 0;
  -webkit-transform: translateY(-50%) translateX(-50%) scale(0.25);
  transform: translateY(-50%) translateX(-50%) scale(0.25); }

.portfolio .grid figure button.btn-code {
  top: 60%;
  left: 50%;
  border: 3px solid #fff;
  background: #87888C;
  color: #fff;
  opacity: 0;
  -webkit-transform: translateY(-50%) translateX(-50%) scale(0.25);
  transform: translateY(-50%) translateX(-50%) scale(0.25); }

.portfolio .grid a:hover figure button {
  opacity: 1;
  -webkit-transform: translateY(-50%) translateX(-50%) scale(1);
  transform: translateY(-50%) translateX(-50%) scale(1); }

/* Media Queries */
/* Let's redefine the width of each anchor and the margins */
@media screen and (max-width: 58em) {
  .grid a {
    width: 33.333%; }

  .grid a:nth-child(odd) {
    margin: 0; }

  .grid a:nth-child(3n-1) {
    margin: 30px 0 -30px 0; } }
@media screen and (max-width: 45em) {
  .grid {
    max-width: 500px; }

  .grid a {
    width: 50%; }

  .grid a:nth-child(3n-1) {
    margin: 0; }

  .grid a:nth-child(even) {
    margin: 30px 0 -30px 0; }

  .grid figcaption h2 {
    margin-bottom: 0px;
    -webkit-transform: translateY(30px);
    transform: translateY(30px); }

  .grid figcaption p {
    margin: 0;
    padding: 0 10px; } }
@media screen and (max-width: 27em) {
  .grid {
    max-width: 250px; }

  .grid a {
    width: 100%; }

  .grid a:nth-child(even) {
    margin: 0; } }

/*# sourceMappingURL=main.css.map */
